---
import Layout from '../layouts/Layout.astro';
import ProyectosSection from '../components/ProyectosSection.astro';
---

<Layout title="Proyectos | CEPOCS" description="Conoce los proyectos de CEPOCS en agroecología, igualdad de género, agroindustria comunitaria y desarrollo local en la Cordillera Septentrional.">
  <main>
    <ProyectosSection />
  </main>
</Layout>
