<header class="site-header">
  <div class="container header-inner">
    <a class="brand" href="/" aria-label="Inicio - CEPOCS">
      <img src="https://i.postimg.cc/TYxJqDDj/Logo-favicon-CEPOCS.webp" alt="Logo CEPOCS" class="brand-logo" width="38" height="38" loading="lazy" decoding="async">
      <span class="brand-text">CEPOCS</span>
    </a>

    <button type="button" id="menuToggle" class="hamburger" aria-expanded="false" aria-controls="navLinks" aria-label="Abrir menú">
      <!-- simple SVG hamburger -->
      <svg width="22" height="16" viewBox="0 0 22 16" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
        <rect y="1" width="22" height="2" rx="1" fill="white"/>
        <rect y="7" width="22" height="2" rx="1" fill="white"/>
        <rect y="13" width="22" height="2" rx="1" fill="white"/>
      </svg>
    </button>

    <nav id="navLinks" class="site-nav" aria-label="Navegación principal">
      <ul class="nav-list">
        <li class="nav-item has-sub">
          <a class="nav-link" href="/" aria-expanded="false" aria-controls="submenu-inicio" aria-haspopup="true">INICIO
            <svg class="chev" width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
              <path d="M1 1L6 6L11 1" stroke="white" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </a>
          <ul class="sub-list" id="submenu-inicio" aria-label="Submenu inicio">
            <li><a href="/#inicio">Quiénes somos</a></li>
            <li><a href="/#ejes">Ejes estratégicos</a></li>
          </ul>
        </li>
        <li class="nav-item"><a class="nav-link" href="/proyectos">PROYECTOS</a></li>
        <li class="nav-item"><a class="nav-link" href="/aliados">ENTIDADES ALIADAS</a></li>
        <li class="nav-item"><a class="nav-link" href="/transparencia">TRANSPARENCIA</a></li>
        <li class="nav-item"><a class="nav-link" href="/noticias">NOTICIAS</a></li>
        <li class="nav-item has-sub">
          <a class="nav-link" href="/multimedia" aria-expanded="false" aria-controls="submenu-multimedia" aria-haspopup="true">MULTIMEDIA
            <svg class="chev" width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
              <path d="M1 1L6 6L11 1" stroke="white" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </a>
          <ul class="sub-list" id="submenu-multimedia" aria-label="Submenu multimedia">
            <li><a href="/multimedia#fotos">Fotos</a></li>
            <li><a href="/multimedia#videos">Videos</a></li>
          </ul>
        </li>
      </ul>
    </nav>

    <div class="nav-actions">
      <a href="/contacto" class="btn btn-primary nav-cta">CONTACTO</a>
    </div>
  </div>
  <div id="menuOverlay" class="menu-overlay" aria-hidden="true"></div>
</header>

